<section class="top-bar-section">
  <ul class="left">
    {{#each navigation}}
    <li class="inactive"><a href="{{ href }}" id="{{ id }}" class="">{{ name }}</a></li>
    {{/each}}
  </ul>
</section>