<div class="small-10 columns">
  <input type="email" id="newsletter-email-address" placeholder="Enter e-mail address here">
</div>
<div class="small-2 columns">
  <a href="#" class="button radius" onclick="Kiosk.newsletterSignup(); return false;">Signup!</a>
</div>