//LOAD LOCAL FONTS

body {
  -webkit-text-stroke: .02em;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background: url('../images/site-background.png') top left repeat;
  min-height: 768px;
  padding-bottom: 120px;
}

table, table tr, table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: transparent;
  border: none;
}

table {
  min-width: 250px !important;
}

#diver-man {
  background: url('../images/diver.png') bottom right no-repeat;
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  width: 160px;
  height: 370px;
  z-index: 0;
}

.reveal-modal {
  background: url('../images/site-background.png') top left repeat;
  @include border-radius(8px);
  width: 60%;
  left: 60%;
  //top: 20px !important;
  max-height: 600px;
  z-index: 1001;
  border: dotted 2px $brown;
}

.reveal-modal-bg {
  background-color: rgba(0, 0, 0, .8);
  z-index: 1000;

}

//
//.reveal-modal .close-reveal-modal {
//  color: $tan;
//  font-family: 'Meddon';
//  background-color: $brown;
//  border: dotted 2px $tan;
//  @include border-radius(999px);
//  @include box-shadow(0 0 5px rgba(0, 0, 0, .2));
//  width: 25px;
//  height: 25px;
//  font-size: 34px;
//  padding: 0;
//  line-height: 13px;
//  z-index:20;
//
//}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Meddon';
}

h3, h4, h5, h6 {
  font-family: 'Rokkitt';
  color: $blue;
}

.red-header {
  color: $red;
  font-size: 24px;
}

.rokkitt {
  font-family: 'Rokkitt';
}

.meddon {
  font-family: 'Meddon';
}

.button {
  background-color: #9f8e78;

  &:hover {
    background-color: #3c4b53;

  }
}

p {
  font-size: 16px;
  line-height: 20px;
  color: #2c2c2c;
}

span.red-span {
  font-family: Arial;
  color: $red;
  line-height: 37px;
  margin-left: 10px;
  font-size: 22px;
}

#header {
  background: url('../images/logo-steering-wheel.png') top left no-repeat;
  height: 150px;
}

#page-title h2 {
  text-align: center;
  margin-top: 40px;
  color: $blue;
  font-size: 24px;

}

h2.block-title {
  color: $red;
  font-size: 18px;
}

.block-radius {
  border: dotted 2px $brown;
  @include border-radius(10px);

}

.pointer-left {
  background: url('../images/pointer-left.png') center right no-repeat;
  padding-right: 40px;
}

.pointer-right {
  background: url('../images/pointer-right.png') center left no-repeat;
  padding-left: 40px;
}

#footer {
  @include box-shadow(0 0 10px rgba(0, 0, 0, .4));
  background: url('../images/footer-background.png') top left repeat;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  z-index: 100;
  nav ul li  a {
    color: #023142;
    font-size: 28px;
    font-family: 'Rokkitt';
    font-weight: bold;
    border: dotted 2px $brown;
    padding: 0 12px 1px;
    margin: 5px 3px;
    background-color: rgba(255, 255, 255, .45);
    @include border-radius(10px);

    &:hover {
      cursor: pointer;
      background-color: $blue;
      border-color: $tan;

    }
  }
  a {

    &:active, &:hover {
      color: $tan;
    }

  }
}

.slideshow-frame {
  margin: 82px 0 0 56px;

  img {
    @include border-radius(8px);
  }

}

#homepage-cta {
  padding-bottom: 20px;
}

#footer {
  max-height: 105px;

  nav ul.inline-list {
    margin-bottom: 0;
  }

  //
  li.home {
    background: url('../images/home-link-image.png') center -5px no-repeat;
    margin-left: 0;
  }
  li.the-bay {
    background: url('../images/the-bay-link-image.png') center -5px no-repeat;

  }
  li.history {
    background: url('../images/history-link-image.png') center -5px no-repeat;

  }
  li.collection {
    background: url('../images/collection-link-image.png') center -5px no-repeat;

  }
  li.videos {

    background: url('../images/videos-link-image.png') center -5px no-repeat;
  }
  li.cannonball-house {
    background: url('../images/cannonball-house-link-image.png') center -5px no-repeat;

  }

  li {
    padding-top: 30px;
    &:hover {
      background-position: center -150px;
    }
  }
}

#newsletter {
  padding: 15px 10px 20px 10px;

  img {
    margin-top: 43px;
  }
  span {
    font-family: 'Rokkitt';
    font-weight: bold;
    color: $blue;
    text-align: center;
    font-size: 16px;
  }

  a {
    font-family: 'Meddon';
    color: $blue;
    text-align: center;
    font-size: 18px;
    padding-right: 30px;
    width: 230px;
    height: 190px;
    display: block;
    margin-top: -46px;
    margin-left: -10px;
    &:hover {
      color: $blue;
      text-decoration: underline;
    }

  }

}

#newsletter-signup {
  padding: 20px 0 0;
  input {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    color: #8c8c8c;
    font-family: "Rokkitt";
    font-size: 24px;
    width: 620px;
    height: 30px;
    padding: 0;
    margin: 0px 10px 0px 0;
    border-bottom: dotted 2px #8c8c8c;
  }
}

#search {

  background: url('../images/search-background.png') top left no-repeat;

  input {
    background-color: transparent;
    border: none;
    @include box-shadow(none);
    -webkit-appearance: none;
    color: $gray;
    font-family: "Rokkitt";
    font-size: 24px;
    width: 160px;
    height: 30px;
    padding: 0;
    margin: 20px 10px 20px 0;
  }

  button.telescope-button {
    border: none;
    background: none;
    @include box-shadow(none);
    display: block;
    background: url('../images/telescope.png') center right no-repeat;
    position: absolute;
    display: block;
    top: 10px;
    left: 170px;

  }

  .search-wrapper {
    border-bottom: dotted $gray 2px;
    display: block;
    width: auto;
    height: 45px;
    width: 185px;
    margin-left: 10px;
  }

}

//HOMEPAGE LAYOUT
#homepage {
  .slideshow {
    a.collections {
      position: absolute;
      font-size: 20px;
      position: absolute;
      top: 35px;
      right: 135px;
      padding-left: 34px;
      background: url('../images/pointer-right.png') center left no-repeat;
      color: $red;
    }
    margin-top: -30px;
    background: url('../images/slideshow-background.png') top left no-repeat;
    min-height: 550px;

  }
}

#videos-cta, #history-cta {
  height: 200px;

  a {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 22px;
  }

}

#videos-cta {
  background: url('../images/videos.png') left 20px no-repeat;
  a {
    background: url('../images/pointer-right.png') center left no-repeat;
    padding-left: 40px;
    right: 35px;
  }
}

#history-cta {
  background: url('../images/history.png') left 85px no-repeat;
  a {
    padding-right: 40px;

    background: url('../images/pointer-left.png') center right no-repeat;

  }
}

#whale-divider {
  height: 40px;
  margin-top: 20px;
  display: block;
  background: url('../images/whale-divider.png') top left no-repeat;

}

//PILOTS ON THE BAY PAGE

#bay-map {
  background: url('../images/the-bay-frame.png') top left no-repeat;
  padding: 0 30px 0 0;
  min-height: 510px;

  h2.block-title {
    margin: -45px 0 16px;
    background: url(../images/title-stars.png) center 2px no-repeat;
    padding-top: 25px;
  }

  .map {
    border: solid thin $gray;
    @include box-shadow(0 0 10px rgba(0, 0, 0, .15));
    width: 425px;
    margin-left: 40px;
  }

  span {
    color: $blue;
    font-size: 14px;
    font-family: "Rokkitt";
  }

}

#current-conditions-block {

  background: url('../images/the-bay-images-sprite.png') 10px 0px no-repeat;
  height: 320px;

  h2.block-title {
    margin-top: -20px;
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 0;

  }

  span {
    color: $red;
    font-size: 18px;
  }

  #current-conditions {
    padding-left: 21px;
  }

  #temperature {
    margin-top: 30px;

  }
  #pressure {
    margin-top: 25px;

  }
  #windspeed {
    margin-top: 30px;

  }

}

#buoy-stations {

  background: url("../images/buoy-stations-graphic.png") top left no-repeat;
  height: 100px;
  background-position: 0 10px;
  overflow: visible;
  margin-top: -50px;
  padding-top: 50px;

  h2.block-title {
    margin-top: -17px;
    letter-spacing: -1px;
  }
  .navigation {
    li {
      list-style: none;
      background: url('../images/navigation-buttons.png') left -42px no-repeat;
      padding-left: 40px;

      a.button {
        font-size: 15px;
        width: 150px;
      }
    }
    padding-top: 25px;
    .button {
      margin: 5px 0;
    }
  }

}

[class*="column"]+[class*="column"]:last-child {
  float: left;
}

#waves-tides {

  .waves-tides-header {
    background: url('../images/the-bay-images-sprite.png') 0 -320px no-repeat;
    height: 40px;
  }
  .block-radius {
    margin: 0 10px;
  }

  h4 {
    color: $blue;
    font-size: 22px;
    font-family: Rokkitt;
  }

}

#videos {
  margin-bottom: -20px;

  h4 {
    margin-top: 20px;
    font-size: 16px;
  }

}

#collection {

  .slideshow {
    height: 400px;
    margin-top: 20px;
    background: url('../images/collections-slideshow.png') 13px 0px no-repeat;

  }

  #collection-teaser {
    .content {
      padding-top: 30px;
      overflow: auto;
      max-height: 472px;

    }
  }

  .collection-teaser-top, .collection-teaser-bottom {
    background: url('../images/teaser-fade.png') top left repeat-x;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 57px;
    display: block;
    width: 100%;
  }

  .collection-teaser-bottom {

    top: 416px;
    background-position: 0 -57px;
  }

  .artifact-teaser {
    border: solid 2px #8d7d69;
    padding: 15px 0 0 0;
    @include box-shadow(0 0 5px rgba(0, 0, 0, .4));
    margin: 15px 0;
    min-height: 150px;
    h4 {
      margin-bottom: 0;
    }
    p {
      margin: 0 0 15px 0;
    }
  }

  a.collections {
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
    position: relative;
  }

  .collection-slideshow {
    height: 345px;

    img {
      margin: 46px 0 0 48px;
      @include border-radius(6px);
    }

  }
  .collections-cta {
    margin-top: 20px;
    padding: 10px 0 0 20px;
  }
}

.artifact {

  h2 {
    color: #432e12;
  }
  img {
    border: solid 2px #8d7d69;

  }
  h6.meddon {
    color: $red;
    margin-top: 0;
  }

  h5 {
    display: inline;
  }
  span.red-span {
    margin-bottom: 20px;
  }

  .block-radius {
    padding: 15px;
    margin: 0 15px;
    min-height: 210px;
  }

  .artifact-divider {
    background: url('../images/artifact-divider.png') top left no-repeat;
    height: 40px;

  }
  #artifact-image {
    background: url(../images/artifact-frame.png) top left no-repeat;
    padding: 43px 36px;
    img {
      width: 348px;
      height: 340px;

    }
  }

}

.news-teaser {
  border: solid 2px #8d7d69;
  padding: 15px;
  @include box-shadow(0 0 5px rgba(0, 0, 0, .4));
  margin: 15px;
  display: block;
}
