<div class="row waves-tides-header">
  <div class="waves-tides-header"></div>
  <div class="large-7 columns block-radius">
    <h2 class="block-title text-center">Waves</h2>

    <div id="wave-data" class="row">
      <div class="large-6 columns">
        <h4 class="left">Height:</h4>
        <span class="red-span">{{ wave_height }}</span>
      </div>

      <div class="large-6 columns">
        <h4 class="left">Length:</h4>
        <span class="red-span">{{ wave_length }}</span>
      </div>

      <div class="large-6 columns">
        <h4 class="left">Period:</h4>
        <span class="red-span">{{ wave_period }}</span>
      </div>

      <div class="large-6 columns">
        <h4 class="left">Direction:</h4>
        <span class="red-span">{{ wave_direction }}</span>
      </div>

    </div>
  </div>

  <div class="large-4 columns block-radius">
    <h2 class="block-title text-center">Tides</h2>

    <div id="tide-data" class="row">
      <div class="large-12 columns">
        <h4 class="left">Low:</h4>
        <span class="red-span">1:34 AM</span>
      </div>

      <div class="large-12 columns">
        <h4 class="left">High:</h4>
        <span class="red-span">12:53 PM</span>
      </div>
    </div>
  </div>
</div>