<div class="row">
  <div class="large-10 columns">
    <nav id="footer-navigation">
      <ul class="inline-list">
        <li class="home"><a id="home" href="#" onclick="Kiosk.getPage('home'); return false;">Home</a></li>
        <li class="the-bay"><a id="the-bay" href="#" onclick="Kiosk.getBay(); return false;">The Bay</a></li>
        <li class="history"><a href="#" onclick="Kiosk.getNode('node', 323); return false;">History</a></li>
        <li class="collection"><a href="#" onclick="Kiosk.getCollections(); return false;">Collection</a></li>
        <li class="videos"><a href="#" onclick="Kiosk.getVideos(); return false;">Videos</a></li>
        <li class="cannonball-house"><a href="#" onclick="Kiosk.getNode('node', 368); return false;">Cannonball House</a></li>
      </ul>
    </nav>
  </div>
  <div class="large-2 columns text-center" id="newsletter">

    <a href="#" data-reveal-id="newsletter-signup">
    <img src="images/newsletter-signup-bg.png" />

    </a>
  </div>
</div>