<div class="row">
  <div class="large-12 columns">
    <div class="large-6 large-offset-3 columns" id="page-title"><h2>Pilots on the Bay & River Delaware</h2></div>

    <div id="search" class="large-3 columns">
      <div class="search-wrapper">
        <input type="text" id="kiosk-search" class="large-1 columns" placeholder="Search">
        <button type="submit" value="" class="telescope-button" onclick="Kiosk.getSearchResults(); return false;"></button>
      </div>
    </div>
  </div>
</div>