<h4><a href="{{ items.0.permalink }}" target="_blank">{{{ items.0.title }}}</a></h4>
<p>{{ items.0.description }}</p>
<a href="{{ items.0.permalink }}" target="_blank" class="right collections meddon pointer-left">Read</a>