<div class="row" id="homepage">
  <div class="large-7 columns slideshow">
    <a href="#" class="collections rokkitt" onclick="Kiosk.getPage('templates/collection/index.html'); return false;">View
      the Collection</a>

    <div class="slideshow-frame">
      <!-- REPLACE THE PLACEHOLDIT IMAGE WITH SLIDESHOW FIELDS -->
      <img src="http://placehold.it/587x375"/>
      <!-- REPLACE THE PLACEHOLDIT IMAGE WITH SLIDESHOW FIELDS -->

    </div>
  </div>
  <div class="large-5 columns">
    <div class="large-6 columns" id="videos-cta">
      <div class="large-6 right"><h2 class="red-header">Videos</h2>

        <p>This gentleman was surely not equipped to watch videos but you certainly are.</p>
      </div>
      <a class="meddon" href="#"
         onclick="Kiosk.getPage('templates/videos/index.html'); return false;">Watch</a></div>
    <div class="large-6 columns" id="history-cta">
      <h2 class="red-header">History</h2>

      <p>Explore the ebb and flow of a fishing industry once central to our local economy.</p>
      <a class="meddon" href="#"
         onclick="Kiosk.getNode('node', 323); return false;">Learn</a>
    </div>
    <div class="large-12 columns" id="whale-divider">
    </div>
    <div class="large-9 columns block-radius" id="homepage-cta">
      <h2 class="text-center red-header">The Bay</h2>
      <h4>Live Bay Reporting</h4>

      <p>View our interactive map which shows not only the buoys currently in the Delaware Bay, but displays useful
        inforamtion about the weather and tides!</p>
      <a href="#" class="right collections meddon pointer-left"
         onclick="Kiosk.getPage('templates/the-bay/index.html'); return false;">View
        The Bay</a>
    </div>
  </div>
</div>