<div class="row">
  <div class="large-9 large-offset-1">
    <h2>Search Results for "{{ keywords }}"</h2>

    {{#if items}}
      {{#each items}}
        <a href="#" onclick="Kiosk.getNode('collection', '{{ nid }}'); return false;">
          <div class="large-5 columns news-teaser">
            <h4>{{{ title }}}</h4>

            {{ teaser }}

            <p href="#" class="right collections meddon pointer-left">Learn More</p>
          </div>
        </a>
      {{/each}}
    {{/if}}
  </div>
</div>
